API_PORT=4001

PROXY_PORT=5000

DOCKER_NETWORK=cubehost-network

# Ruta a la base de datos SQLite
DB_PATH=/data/containers.db

# Directorio de trabajo para clonar repos
WORK_DIR=/tmp/cubehost-repos

# Tiempo de inactividad antes de apagar el contenedor = 30 min
INACTIVITY_TIMEOUT_MS=1800000

# Límite de CPU por contenedor
CONTAINER_CPUS=0.5

# Límite de RAM por contenedor
CONTAINER_MEMORY_MB=256