{
    auto_https off
}

# Proyectos desplegados por usuarios
http://*.localhost {
    reverse_proxy container-manager:5000
}

# Dashboard + API
http://localhost {
    # Rutas del API van al backend
    handle /api/* {
        reverse_proxy api:4000
    }

    # Todo lo demás va al frontend
    handle {
        reverse_proxy frontend:80
    }
}
