PORT=4000
NODE_ENV=development

# Roble Uninorte — nombre de la base de datos del proyecto
ROBLE_DB_NAME=token_contract_xyz

# Container Manager
CONTAINER_MANAGER_URL=http://container-manager:4001

# Frontend URL
FRONTEND_URL=http://localhost:3000

# SQLite
DB_PATH=/data/cubehost.db
